<div class="pantry-container">
    <header>
        <nav class="navLogout"> <a class="logout" href="/api/logout">Log Out</a></nav>
        <img class='brand-img' data-id={{id}}>
    </header>
    <div class="blur"></div>
    <div class="jumbo"></div>
    <div class="search-container"></div>
    <div class="body-container">
        <div class="ingredient-container">
            <div class="search">
                <form>
                    <input id='ingredient-input' list="ingredients" name="ingredient" autocomplete="off">
                    <datalist id="ingredients">
                    </datalist>
                    <button class="submit-ingredient">Add Ingredient</button>
                </form>
            </div>
            <div class="ingredients">
                {{#if ingredients}}
                <ul>
                {{#each ingredients}}
                    <li class="ingredient">{{this.dataValues.name}}</li>
                {{/each}}
                </ul>
                <button class='recipe-search'>Search for Recipes</button>
                {{else}}
                    <div class="empty-data">
                        <h1>No ingredients saved.</h1>
                        <p>Search for ingredients above!</p>
                    </div>
                    <!-- Script to adjust styling to center the empty data div -->
                    <script>document.querySelector('.ingredients').style.justifyContent = 'center'</script>
                {{/if}}
            </div>
        </div>
        <div class="recipe-container">
            <div class="recipes">
                {{#if recipes}}
                {{#each recipes}}
                    <div class="recipe-card" data-id={{this.dataValues.recipeID}}>
                        <img src={{this.dataValues.imageURL}} class="card-img" alt={{this.dataValues.name}}>
                        <div class="card-body">
                            <h5 class="card-title">{{this.dataValues.name}}</h5>
                        </div>
                    </div>
                {{/each}}
                {{else}}
                    <div class="empty-data">
                        <h1>No recipes saved.</h1>
                        <p>Search and save recipes using your ingredients!</p>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>