<div class="pantry-container">
    <header>
        <img class='brand-img'>
        {{!-- <h1 class='pantry-brand'>My Pantry</h1> --}}
        <nav></nav>
    </header>
    <div class="blur"></div>
    <div class="jumbo"></div>
    <div class="body-container">
        <div class="ingredient-container">
            <div class="search">
                <form>
                    <input list="ingredients" name="ingredient">
                    <datalist id="ingredients">
                    </datalist>
                    <button class="submit-ingredient">Add Ingredient</button>
                </form>
            </div>
            <div class="ingredients">
                {{#if ingredients}}
                {{#each ingredients}}
                    <li class="ingredient">{{name}}<span class="aisle">{{aisle}}</span></li>
                {{/each}}
                {{else}}
                    <h1>Your pantry is empty!</h1>
                    <p>Use the ingredient search above to start stocking up.</p>
                {{/if}}
            </div>
        </div>
        <div class="recipe-container">
            <div class="recipes">
                {{#if recipes}}
                {{#each recipes}}
                    <div class="recipe-card" data-id={{recipe_id}}>
                        <img src={{image}} class="card-img" alt={{name}}>
                        <div class="card-body">
                            <h5 class="card-title">{{name}}</h5>
                            <p class="card-text">{{summary}}</p>
                        </div>
                    </div>
                {{/each}}
                {{else}}
                    <h1>You need ingredients!</h1>
                    <p>Select ingredients to begin reciepe search</p>
                {{/if}}
                <div class="recipe-card" data-id='746613'>
                        <img src='' class="card-img" alt=''>
                        <div class="card-body">
                            <h5 class="card-title">Example</h5>
                            <p class="card-text">Example</p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>